    <header>
        <nav class="navbar navbar-default" style="z-index:10">
            <div clss="container-fluid">

                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" 
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">    
                        <span class="sr-only">Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">X-NOV-BLOG</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="home-link">
                            <a class="active" href="/">Home<span class="sr-only"></span></a>
                        </li>

                        <li id="last-link"><a href="#">Last post</a></li>

                        <li id="top-link"><a href="#">Top post</a></li>

                        <li id="categorie-link"><a href="#">Categorie</a></li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signup">Signup</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>

            </div>

        </nav>

    </header>