<!DOCTYPE html>
<html>
  <head>
    <title>Blog-X-Nov</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js"></script>

    <link rel="stylesheet" href="stylesheets/style.css">
    <style>
    </style>
  </head>
  <body>


    <header>
        <nav class="navbar navbar-default" style="z-index:10">
            <div clss="container-fluid">

                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" 
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">    
                        <span class="sr-only">Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">X-NOV-BLOG</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="home-link">
                            <a class="active" href="/">Home<span class="sr-only"></span></a>
                        </li>


                        <li id="last-link"><a href="/last">Last post</a></li>
                        <% if (user) { %>

                        <li id="edit-link"><a href="/edit">Edition</a></li>

                        <li id="user-articles"><a href="/user-articles">Your articles</a></li>
                        <% } %>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                    <% if (user) { %>

                        <li><a href="/logout">logout</a></li>

                    <% }else{ %>
                        <li><a href="/signup">Signup</a></li>
                        <li><a href="/login">Login</a></li>
                    <% } %>
                    </ul>
                </div>

            </div>

        </nav>

    </header>
    <section id="section">
    <%-body -%>
    </section>
    
    <footer class="footer">
        <div class="container">
            <p class="text-muted">© X-Nov-Blog</p>
        </div>
    </footer>


    <%-blocks.header%>

    <%-blocks.footer%>
    <!-- JQUERY -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type"text/javascript">
        // Activation des bon lien dans la nav
        /*
        var url = window.location.pathname;
        var link = document.querySelector('.navbar li a[href$="'+url+'"]');
        link.className = "active";
        */
    </script>
  </body>
</html>