<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Blog-x-nov</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Bienvenue !</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>

        <button id="eraseButton" class="hidden">Again</button>

        <!-- svg -->
        <svg width="1000" height="300" style="display: none">
            <path d="m157.76 105.88c-7.4053-8.9862-16.122-15.85-27.865-17.818-16.604-3.2803-35.244-2.2435-50.148 6.2719-8.4329 6.4228-15.194 15.018-10.757 25.919 6.9636 23.286 33.81 26.063 53.267 33.499 15.84 4.0064 32.554 13.238 35.503 30.658 1.8468 11.869-0.78168 21.884-11.233 28.659-14.576 8.9259-33.167 9.5932-49.689 6.8414-12.29-2.3318-20.767-8.5079-28.636-18.075"
            />
            <path d="m272.9 150.66c-9.8598-11.768-23.423-22.368-39.709-19.191-13.362 0.5304-25.61 11.328-31.775 22.54-6.7138 13.934-7.1853 29.748-0.25697 43.707 5.5237 11.364 17.648 21.717 30.492 23.311 15.813 2.8302 30.126-5.4593 39.688-17.63l1.2482-1.2482 0.31262-0.31262"
            />
            <path d="m343.27 131.47c-15.039 5.7827-27.96 17.873-30.612 34.262-4.0296 12.888 0.41254 27.839 7.52 38.602 9.0267 11.179 22.414 19.394 37.213 16.695 13.362-0.53038 25.61-11.328 31.775-22.54 6.7139-13.934 7.1853-29.748 0.25697-43.707-5.5237-11.364-17.648-21.717-30.492-23.311h-15.661z"
            />
            <path d="m445.62 86.692c0.37493 36.778-0.74805 73.798 0.55819 110.42 2.5876 11.039 6.138 21.243 18.469 23.832 4.2802 0.18855 8.6454 0.0288 12.958 0.0819m-51.176-89.559h44.779"
            />
            <path d="m586.36 150.66c-9.8598-11.768-23.423-22.368-39.709-19.191-13.362 0.5304-25.61 11.328-31.775 22.54-6.7139 13.934-7.1853 29.748-0.25697 43.707 5.5237 11.364 17.648 21.717 30.492 23.311 15.813 2.8302 30.126-5.4593 39.688-17.63l1.2482-1.2482 0.31262-0.31262"
            />
            <path d="m631.14 86.692v134.34m0-63.971c12.158-12.114 24.92-29.2 44.341-25.588 10.207-0.53645 22.347 4.9455 22.978 16.444 6.3533 18.657 1.559 39.122 3.0479 58.568v14.546"
            />
            <path d="m752.68 189.04c-15.025 6.5899 6.2843 18.544 5.1489 5.1489l-5.1489-5.1489z" />
            <path d="m797.46 86.692c6.5899 15.025 18.544-6.2843 5.1489-5.1489l-5.1489 5.1489zm6.3971 44.779v89.559" />
            <path d="m880.62 131.47c-15.039 5.7827-27.96 17.873-30.612 34.262-4.0295 12.888 0.41253 27.839 7.52 38.602 9.0268 11.179 22.414 19.394 37.213 16.695 13.362-0.53038 25.61-11.328 31.775-22.54 6.7139-13.934 7.1853-29.748 0.25697-43.707-5.5237-11.364-17.648-21.717-30.492-23.311h-15.661z"
            />
        </svg>

        <script type="text/javascript" src="brushstroke/js/promise.min.js"></script>
        <script type="text/javascript" src="brushstroke/dist/brushstroke.js"></script>
        <script type="text/javascript">
            // brushstoke
            
            // Declaring variables

            var width = window.innerWidth || document.body.clientWidth;
            var height = window.innerHeight || document.body.clientHeight;
            var options, bs;
            // options et customisation
            var options = {
                animation: 'points',
                points: 10,
                inkAmount: 5,
                size: 300,
                frames: 10,
                frameAnimation: true,
                splashing: false,
                image: 'images/ingesup.png',
                centered: true,
                queue: true,
                width: width,
                height: height
            };

            //init
            bs = new Brushstroke(options);

            function runAnimation() {
                // on dessine une ligne
                bs.draw({
                    points: [0, height / 2 - 40, width, height / 3]
                });
                // Une autre
                bs.draw({
                    points: [width, height / 2, 0, height / 1.5 - 40]
                });

                bs.draw({
                    inkAmount: 3,
                    frames: 100,
                    size: 200,
                    splashing: true,
                    points: 20
                });
            }

            //runAnimation();

            // ---------------------------

            var optionsPath, bsPath;

            optionsPath = {
                animation: 'path',
                inkAmount: 2,
                frames: 20,
                frameAnimation: true,
                color: 'white',
                width: 1000,
                height: 300
            };

            //Init
            bsPath = new BrushStroke(optionsPath);

            let paths = document.querySelectorAll('path');
            let delay = 0;

            for (let i = 0; i < paths.length; i++) {
                bsPath.draw({ path: paths[i], delay: delay });
                delay += 0.5;
            }


            // Erase

            // Declaring variables

            var button = document.getElementById('eraseButton');
            var animating = true;
            var optionsErase, bsErase;

            // Erase and run again

            optionsErase = {
                queue: true,
                size: 300,
                padding: 0,
                overlap: 100,
                inkAmount: 20,
                frames: 100,
                frameAnimation: true,
                color: '#000',
                width: width,
                height: height,
                end: function () {
                    // Clear all canvas and run animation
                    bsBackground.clear();
                    bsPath.clear();
                    bsErase.clear();
                    runAnimation();
                }
            };
            bsErase = new Brushstroke(optionsErase);

            // Run again button

            button.addEventListener('click', function () {
                if (!animating) {
                    toggleButton();
                    bsErase.draw();
                }
            });

            function toggleButton() {
                button.classList.toggle('hidden');
                animating = !animating;
            }
        </script>


    </div>
</body>

</html>