<% layout('../layouts/default') -%>



<% block('header', "<p>I'm in the home header.</p>") -%>



<% block('footer', "<p>I'm in the home footer.</p>") -%>

        <script type="text/javascript" src="brushstroke/js/promise.min.js"></script>
        <script type="text/javascript" src="brushstroke/dist/brushstroke.js"></script>
        <script type="text/javascript">
            // brushstoke

            // Declaring variables


            var width = window.innerWidth || document.body.clientWidth;
            var height = window.innerHeight || document.body.clientHeight;
            var options, bs;
            var containerEl = document.getElementById('container');
            // options et customisation
            var options = {
                animation: 'points',
                points: 25,
                inkAmount:20,
                size:1000,
                frames: 5,
                frameAnimation: true,
                splashing: true,
                image: 'images/nebu.jpg',
                centered: true,
                queue: true,
                width: width ,
                height: height ,
                root:containerEl
            };

            //init
            bs = new Brushstroke(options);

            function runAnimation() {
                // on dessine une ligne
                bs.draw({
                    points: [0, height / 2 - 40, width, height / 3]
                });
                // Une autre
                bs.draw({
                    points: [width, height / 2, 0, height / 1.5 - 40]
                });

                bs.draw({
                    inkAmount: 3,
                    frames: 100,
                    size: 200,
                    splashing: true,
                    points: 20
                });
            }

            runAnimation();

  
            // ---------------------------
            /*
            var optionsPath, bsPath;

            optionsPath = {
                animation: 'path',
                inkAmount: 2,
                frames: 20,
                frameAnimation: true,
                color: 'white',
                width: 1000,
                height: 300
            };

            //Init
            bsPath = new BrushStroke(optionsPath);

            let paths = document.querySelectorAll('path');
            let delay = 0;

            for (let i = 0; i < paths.length; i++) {
                bsPath.draw({ path: paths[i], delay: delay });
                delay += 0.5;
            }


            // Erase

            // Declaring variables

            var button = document.getElementById('eraseButton');
            var animating = true;
            var optionsErase, bsErase;

            // Erase and run again

            optionsErase = {
                queue: true,
                size: 300,
                padding: 0,
                overlap: 100,
                inkAmount: 20,
                frames: 100,
                frameAnimation: true,
                color: '#000',
                width: width,
                height: height,
                end: function () {
                    // Clear all canvas and run animation
                    bsBackground.clear();
                    bsPath.clear();
                    bsErase.clear();
                    runAnimation();
                }
            };
            bsErase = new Brushstroke(optionsErase);

            // Run again button

            button.addEventListener('click', function () {
                if (!animating) {
                    toggleButton();
                    bsErase.draw();
                }
            });

            function toggleButton() {
                button.classList.toggle('hidden');
                animating = !animating;
            }
            */
        </script>