body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-x: hidden;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}


a {
  color: #00B7FF;
}

.parallax{
    width:110vw;
    margin:-60px;
    height: 90vh;
    z-index : -1;
}

.parallax-bs{
  margin-left:-200px;
  margin-top:-100px;
  width:150vw;
  height: 85vh;
  z-index : -1;
  size:150%
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #f5f5f5;
  }

