<% layout('../layouts/default') -%>


    <!-- CKEDITOR VIEW -->
    <div id="editor-render" style="border:solid black 1px"></div>
    <!-- CKEDITOR FORM -->
    <form style="position:fixed;width:100vw;bottom:11vh" method="POST" action="">.
        <input type="text" name="title" placeholder="article title here" required>
        <textarea name="editor1" id="editor" rows="10" cols="80">
        </textarea>
        <button type="submit">Enregistrer</button>
    </form>
    <!-- CKEDITOR STATUS -->
    <div id="editor-status"></div>


    <!-- SCRIPTS -->
    <script src="ckeditor/ckeditor.js">
    // CKEDITOR
    </script>
    <script type="text/javascript">

        // Instanciation de l'éditeur
        var editor = CKEDITOR.replace('editor', {
            language: 'fr',
            // Personalisation utilisateur ?
            uiColor: '#9AB8F3'
        });

        // OnChange listener
        editor.on('change', (e) => {
            //geData() retourne le contenu html de ckeditor
            let editorStatusEl = document.getElementById('editor-status');
            console.log('Total bytes: ' + e.editor.getData().lenght);
            editorStatusEl.innerHTML = 'Total bytes: ' + e.editor.getData().length;
            let editorRenderEl = document.getElementById('editor-render');
            editorRenderEl.innerHTML = e.editor.getData();
        });

    </script>
