<% layout('../layouts/default') -%>


<div class="container" style="text-align:center;width:100vw;">
  <div id="scene" class="scene border" data-input-element="#scene-input">
    <div class="layer" data-depth="0.50"><img class="parallax-bs"src="images/parallax/beach1.jpg"></div>
    <div class="layer" data-depth="0.40" >
      <div class="blog-presentation" style="width:100vw;padding:50pt 150pt 150pt 150pt;color:white">
        <h1>X-nov-blog</h1>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor necessitatibus nihil dolorum, hic ipsam, dolores modi itaque incidunt doloremque ab natus eius quod, ipsa! Molestias maxime laudantium id autem dolor!</div>
        <div>Quia fuga repellendus ipsum sunt cum, possimus odio reprehenderit aspernatur repudiandae perferendis corporis voluptas dolor odit a iusto perspiciatis fugiat laboriosam repellat vitae id. Ad sapiente minima odit error quis.</div>
        <div>Praesentium possimus non magnam inventore! Quae quasi suscipit a dolorem quaerat laudantium delectus eligendi corrupti soluta, commodi odit rem unde ducimus, autem aliquam, dolorum maiores. Minima eaque possimus asperiores vitae?</div>
      </div>
    </div>
    <div class="layer" data-depth="0.00"><img class="parallax" src="images/parallax/beach22.png"></div>
  </div>
</div>

<!-- Scripts -->
<script src="parallax-js/dist/parallax.js"></script>

<script>
  // Elements
  var scene = document.getElementById('scene');

  // Parallax
  var parallax = new Parallax(scene, {
      hoverOnly: true,
      relativeInput: true,
      inputElement: scene
  });


</script>






