<% layout('../layouts/default') -%>


<% if (user) { %>

    ok user

<% } %>

<div class="articles-list">


    <% articles.forEach( function( article ) { %>
        <div class="panel panel-default">

            <div class="panel panel-header" id="article-title" style="text-align: center">
                <p><h1><%= article.title -%></h1></p>
            </div>
            <div class="panel panel-body" style="border:solid black 1px">
                <%- article.content %>
            </div>

        </div>

    <% }); %> <!-- Fin foreach articles -->

</div>