<% layout('../layouts/default') -%>


<div class="articles-list">


    <% articles.forEach( function( article ) { %>
        <div class="panel panel-default">

            <div class="panel panel-header" id="article-title" style="text-align: center">
                <p><h1><%= article.title %></h1></p>
            </div>
            <div class="panel panel-body" style="border:solid black 1px">
                <%- article.content %>
            </div>

            <form  method="POST" action="/user-articles/update/<%= article.id %>">.
                <div class="input-group">
                    <input type="text" name="newTitle">
                    <textarea name="newContent" class="form-control custom-control" rows="5" style="resize:none; width:90vw">
                        <%= article.content %>    
                    </textarea>     
                    <input type="submit" class=" btn btn-primary" value="Update">
                </div>
            </form>

        </div>
        <div class="panel panel-default" style="text-align: center" id="articles-controls">

            <form  action="/user-articles/delete/<%= article.id %>">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>

        </div>
    <% }); %> <!-- Fin foreach articles -->

</div>
